/* float-navbar.html에 연결 */
/* 웹 폰트 임포트 경로는 맨 위에 위치시킴 */
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
*{
    margin: 0;
    padding: 0;
}
#container{
    width: 1000px;
    margin: 0 auto;
}
/* header스타일 */
header{
    width: 100%;
    height: 80px;
    background-color: #069;
}
header #logo{
    width: 30%;
    float: left;
    line-height: 80px;
}
#logo h1{
    color: greenyellow;
    padding-left: 20px;
    font-style: italic;
    font-family: Nanum Pen Script;
    font-size: 50px;
}
header nav{
    width:70%;
    float: right;
}
nav ul{
    list-style: none;
    margin-right: 100px;
}
nav ul li{
    float: right;
    /* display: inline-block; */
    margin: 0 20px;
    line-height: 80px;  /* 수직 정렬 - 가운데 */
}
nav ul li a{
    color: white;
    text-decoration: none;

}
ul li:hover{
    background-color: skyblue;
}
/* section 스타일 */
section h1{
    margin: 20px;
}