#container{
    width: 520px;
    margin: 0 auto;
    border : 1px solid #000;
    padding: 20px;
}
ul li{
    list-style-type: none;
    margin: 10px;
}
ul li label.info{
    width: 70px;
    float: left;
}